html {
    font-family: 'Palatino Linotype','Book Antiqua',Palatino, serif;
    height: 100%;
}

body {
    height: 100%;
    background-color: #72858E;
}

table {
    border: none;
    background-color: #72858E;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

tr {
    border: none;
}

td {
    border: none;
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

.topBar {
    height: 250px;
    background: #516874;
    border: none;
}

.nav {
    width: 185px;
    background-color: #444749;
    border: none;
}

.bigger {
    width: 80%;
}

.smaller {
    width: 20%;
}

p {
    font-size: 10pt;
}

.center {
    text-align: center;
}

.main {
    vertical-align: top;
}

.title {
    text-align: center;
}