html {
    font-family: 'Palatino Linotype','Book Antiqua',Palatino, serif;
    height: 100%;
}

body {
    height: 100%;
    background-color: #D6D6D6;
}

main {
    width: 70%;
    background-color: #D6D6D6;
    float: right;
}

.sidebar {
    width: 25%;
    background-color: #FFFFFF;
    float: left;
    position: fixed;
}

h1 {
    text-transform: uppercase;
}

p {
    font-size: 10pt;
}

.center {
    text-align: center;
}

.title {
    text-align: center;
}

.sidebarPadding {
    padding-left: 10%;
}

.linkPadding {
    padding-left: 5%;
}